.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin: 5px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  background: papayawhip;
  border: none;
  border-radius: 3px;
}

select {
  margin: 5px;
  font-size: 18px;
  padding: 9px;
  border: none;
  border-radius: 3px;
  background: white;
  color: gray;
  padding-left: 5px;
  margin-left: 10px;
}

.green {
  margin-left: 5px;
  font-size: 1.2rem;
  color: green;
}
.red {
  margin-left: 5px;
  font-size: 1.2rem;
  color: red;
}
.green::before {
  content: "\2191";
  margin-right: 2px;
}
.red::before {
  content: "\2193";
  margin-right: 2px;
}

#loading {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #ffefd5;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
